{{#*inline "htmTitleBaseModelPage"}}		<!-- inline "htmTitleBaseModelPage" -->
		<title>{{#if searchListBaseModel_}}{{#eq baseModelCount int1}}{{#eq params.query.q "*:*"}}{{else}}{{/eq}}{{else}}{{/eq}}{{else}}{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaBaseModelPage"}}{{> "htmMetaPageLayout"}}{{/inline}}
{{#*inline "htmStyleBaseModelPage"}}{{> "htmStylePageLayout"}}{{/inline}}
{{#*inline "htmScriptsBaseModelPage"}}{{> "htmScriptsPageLayout"}}		<!-- inline "htmScriptsBaseModelPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/BaseModelPage.js"></script>
{{/inline}}
{{#*inline "htmScriptBaseModelPage"}}		<!-- inline "htmScriptBaseModelPage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketBaseModel(websocketBaseModelInner);
			});
		</script>
{{/inline}}
{{#*inline "htmUrlBaseModel"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadBaseModelPage"}}{{> "htmTitleBaseModelPage"}}{{> "htmMetaBaseModelPage"}}{{> "htmStyleBaseModelPage"}}{{> "htmScriptsBaseModelPage"}}{{> "htmScriptBaseModelPage"}}{{/inline}}
{{#*inline "htmBodyCount0BaseModelPage"}}		<!-- #*inline "htmBodyCount0BaseModelPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3- w3-hover-">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses site-menu-icon "></i>
				{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-">
				{{#if contextIconCssClasses}}
					<i class="contextIconCssClasses + " site-menu-icon "></i>
				{{/if}}
				<span class=""></span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllBaseModelPage"}}		<!-- #*inline "htmBodyCount1AllBaseModelPage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3- w3-hover-">
			{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses site-menu-icon "></i>
			{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class"w3-bar-item w3-padding w3-center w3-block w3-">
				<span class="">{{baseModel_.objectTitle}}</span>
			</span>
		</h2>
{{#block "htmForm"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyCount1BaseModelPage"}}		<!-- #*inline "htmBodyCount1BaseModelPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3- w3-hover-">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1BaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyAllBaseModelPage"}}		<!-- #*inline "htmBodyAllBaseModelPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3- w3-hover-">
	{{#if contextIconCssClasses}}
				<i class="contextIconCssClasses + " site-menu-icon "></i>
	{{/if}}
				<span class=""></span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1BaseModelPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormBaseModelPage"}}	{{#if pk}}
		<!-- #*inline "htmForm" -->
		<form action="" id="BaseModelForm" style="display: inline-block; width: 100%; " onsubmit="event.preventDefault(); return false; ">
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
			<input name="focusId" type="hidden"/>
		</form>
{{#block "htmForm_searchpageBaseModel"}}{{/block}}
	{{/if}}
{{/inline}}
{{#*inline "htmBodyStartBaseModelPage"}}
{{> "htmBodyStartPageLayout"}}
{{/inline}}
{{#*inline "htmBodyEndBaseModelPage"}}
{{> "htmBodyEndPageLayout"}}
{{/inline}}
{{#*inline "htmBodyBaseModelPage"}}
{{#block "htmBodyStart"}}{{/block}}
	{{#eq baseModelCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq baseModelCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForms"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "table1BaseModelPage"}}
		<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
			{{> table2BaseModelPage}}
		</table>
{{/inline}}
{{#*inline "table2BaseModelPage"}}
		{{> "thead1BaseModelPage"}}
		{{> "tbody1BaseModelPage"}}
		{{> "tfoot1BaseModelPage"}}
	{{/inline}}
{{#*inline "thead1BaseModelPage"}}
		<thead class="w3- w3-hover-">
			{{> thead2BaseModelPage}}
		</thead>
	{{/inline}}
{{#*inline "thead2BaseModelPage"}}
			<tr>
				<th>created</th>
				<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1BaseModelPage"}}
		<tbody>
			{{> tbody2BaseModelPage}}
		</tbody>
{{/inline}}
{{#*inline "tbody2BaseModelPage"}}
		{{#each listBaseModel}}
			<tr>
					<td>
						<a href="{{pageUrlPk}}">
							<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "yyyy-MM-dd'T'HH:mm:ss.SSS'['VV']'" siteLocale}}</span>
						</a>
					</td>
					<td>
						<a href="{{pageUrlPk}}">
							<span class="white-space-pre-wrap ">{{objectTitle}}</span>
						</a>
					</td>
			</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1BaseModelPage"}}
		<tfoot class="w3- w3-hover-">
			{{> tfoot2BaseModelPage}}
		</tfoot>
{{/inline}}
{{#*inline "tfoot2BaseModelPage"}}
		<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
		</tr>
	{{/inline}}
{{#*inline "htmFormsBaseModelPage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq baseModelCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3- "
			id="refreshBaseModelGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshBaseModelGenPage')); }, function() { addError($('#refreshBaseModelGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh 
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedBaseModelPage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshBaseModelGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3- "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshBaseModelGenPage{{id}}')); }, function() { addError($('#refreshBaseModelGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh 
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search : 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestBaseModel w3-input w3-border w3-bar-item "
					name="suggestBaseModel"
					id="suggestBaseModel{{id}}"
					autocomplete="off"
					oninput="suggestBaseModelObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'pk,pageUrlPk,objectTitle' } ], $('#suggestListBaseModel{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = 'null?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listBaseModel}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3- "
					onclick="window.location.href = 'null?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListBaseModel{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="" class="">
					see 
				</a>
			</div>
{{/inline}}
{{> PageLayout}}

{{#*inline "htmPk"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label>primary key</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputPk"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputPk"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}Pk ">{{baseModel_.pk}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmInheritPk"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseModelInheritPk">
											<div class="w3-card ">
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputInheritPk"}}
													</div>
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3- "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_inheritPk')); $('#{{classApiMethodMethod}}_inheritPk').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#BaseModelForm :input[name=pk]').val() }], 'setInheritPk', null, function() { addGlow($('#{{classApiMethodMethod}}_inheritPk')); }, function() { addError($('#{{classApiMethodMethod}}_inheritPk')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputInheritPk"}}
														<input
															type="text"
															id="{{classApiMethodMethod}}_inheritPk"
	{{#eq "Page" classApiMethodMethod}}
																class="setInheritPk classBaseModel inputBaseModel{{pk}}InheritPk w3-input w3-border "
																name="setInheritPk"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setInheritPk classBaseModel inputBaseModel{{pk}}InheritPk w3-input w3-border "
																name="setInheritPk"
		{{else}}
																class="valueInheritPk w3-input w3-border classBaseModel inputBaseModel{{pk}}InheritPk w3-input w3-border "
																name="inheritPk"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setInheritPk', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_inheritPk')); }, function() { addError($('#{{classApiMethodMethod}}_inheritPk')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{baseModel_.inheritPk}}"
	{{/eq}}
														/>

{{/inline}}

{{#*inline "htmCreated"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseModelCreated">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_created">created</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputCreated"}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputCreated"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}Created " title="{{formatZonedDateTime baseModel_.created 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' requestLocaleId requestZoneId}}">{{formatZonedDateTime baseModel_.created 'EEE MMM d yyyy h:mm a zz' requestLocaleId requestZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmModified"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label>modified</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputModified"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputModified"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}Modified " title="{{formatZonedDateTime baseModel_.modified 'EEEE MMMM d yyyy H:mm:ss.SSS zz VV' requestLocaleId requestZoneId}}">{{formatZonedDateTime baseModel_.modified 'EEE MMM d yyyy h:mm a zz' requestLocaleId requestZoneId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmArchived"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseModelArchived">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_archived">archived</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputArchived"}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputArchived"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_archived"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_archived"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="classBaseModel inputBaseModel{{pk}}Archived w3-input w3-border "
															name="setArchived"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="classBaseModel inputBaseModel{{pk}}Archived w3-input w3-border "
																name="setArchived"
		{{else}}
																class="setArchived valueArchived classBaseModel inputBaseModel{{pk}}Archived w3-input w3-border "
																name="setArchived"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setArchived', $(this).prop('checked'), function() { addGlow($('#{{classApiMethodMethod}}_archived')); }, function() { addError($('#{{classApiMethodMethod}}_archived')); }); "
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if baseModel_.archived}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

{{/inline}}

{{#*inline "htmDeleted"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseModelDeleted">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label for="{{classApiMethodMethod}}_deleted">deleted</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputDeleted"}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputDeleted"}}
	{{#eq 'Page' classApiMethodMethod}}
															<input
																type="checkbox"
																id="{{classApiMethodMethod}}_deleted"
																value="true"
	{{else}}
														<select
															id="{{classApiMethodMethod}}_deleted"
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															class="classBaseModel inputBaseModel{{pk}}Deleted w3-input w3-border "
															name="setDeleted"
	{{else}}
		{{#eq 'Page' classApiMethodMethod}}
																class="classBaseModel inputBaseModel{{pk}}Deleted w3-input w3-border "
																name="setDeleted"
		{{else}}
																class="setDeleted valueDeleted classBaseModel inputBaseModel{{pk}}Deleted w3-input w3-border "
																name="setDeleted"
		{{/eq}}
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
															onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setDeleted', $(this).prop('checked'), function() { addGlow($('#{{classApiMethodMethod}}_deleted')); }, function() { addError($('#{{classApiMethodMethod}}_deleted')); }); "
	{{/eq}}
	{{#eq 'Page' classApiMethodMethod}}
		{{#if baseModel_.deleted}}
																checked="checked"
		{{/if}}
																/>
	{{else}}
															>
															<option value="" selected="selected"></option>
															<option value="true">true</option>
															<option value="false">false</option>
														</select>
	{{/eq}}

{{/inline}}

{{#*inline "htmSessionId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseModelSessionId">
											<div class="w3-card ">
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputSessionId"}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputSessionId"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}SessionId ">{{baseModel_.sessionId}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmUserKey"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}BaseModelUserKey">
											<div class="w3-card ">
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputUserKey"}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputUserKey"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}UserKey ">{{baseModel_.userKey}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmObjectTitle"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputObjectTitle"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputObjectTitle"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}ObjectTitle ">{{baseModel_.objectTitle}}</span>
	{{/eq}}
{{/inline}}

{{#*inline "htmObjectId"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									{{#eq 'Page' classApiMethodMethod}}
										<div class="w3-padding ">
											<div class="w3-card ">
												<div class="w3-cell-row w3-">
													<label>ID</label>
												</div>
												<div class="w3-cell-row  ">
													<div class="w3-cell ">
														<div class="w3-rest ">
															<span class="">
																{{> "inputObjectId"}}
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
	{{/eq}}
								</div>
{{/inline}}

{{#*inline "inputObjectId"}}
	{{#eq 'Page' classApiMethodMethod}}
														<span class="varBaseModel{{pk}}ObjectId ">{{baseModel_.objectId}}</span>
	{{/eq}}
{{/inline}}
